---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {# Italian pages #}
  <url>
    <loc>{{ site.url }}/it/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/scuola-volo/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/scuola-volo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/flight-school/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/segelflug/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/agriturismo/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/galleria/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/galleria/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/gallery/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/galerie/" />
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {# Appartamenti IT #}
  <url>
    <loc>{{ site.url }}/it/agriturismo/falco/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/falco/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/falco/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/falco/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/agriturismo/nibbio/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/nibbio/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/nibbio/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/nibbio/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/agriturismo/picchio/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/picchio/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/picchio/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/picchio/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/agriturismo/sparviero/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/sparviero/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/sparviero/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/sparviero/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/agriturismo/rondone/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/rondone/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/rondone/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/rondone/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/come-raggiungerci/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/come-raggiungerci/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/how-to-reach-us/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/anreise/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/contatti/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/contatti/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/contact/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/kontakt/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {# English pages #}
  <url>
    <loc>{{ site.url }}/en/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/flight-school/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/scuola-volo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/flight-school/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/segelflug/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/farm-stay/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/gallery/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/galleria/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/gallery/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/galerie/" />
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/how-to-reach-us/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/come-raggiungerci/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/how-to-reach-us/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/anreise/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {# Appartamenti EN #}
  <url>
    <loc>{{ site.url }}/en/farm-stay/falco/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/falco/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/falco/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/falco/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/farm-stay/nibbio/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/nibbio/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/nibbio/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/nibbio/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/farm-stay/picchio/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/picchio/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/picchio/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/picchio/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/farm-stay/sparviero/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/sparviero/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/sparviero/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/sparviero/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/farm-stay/rondone/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/rondone/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/rondone/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/rondone/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/contact/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/contatti/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/contact/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/kontakt/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {# German pages #}
  <url>
    <loc>{{ site.url }}/de/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/segelflug/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/scuola-volo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/flight-school/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/segelflug/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/bauernhof/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/galerie/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/galleria/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/gallery/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/galerie/" />
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/anreise/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/come-raggiungerci/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/how-to-reach-us/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/anreise/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {# Appartamenti DE #}
  <url>
    <loc>{{ site.url }}/de/bauernhof/falco/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/falco/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/falco/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/falco/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/bauernhof/nibbio/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/nibbio/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/nibbio/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/nibbio/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/bauernhof/picchio/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/picchio/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/picchio/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/picchio/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/bauernhof/sparviero/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/sparviero/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/sparviero/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/sparviero/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/bauernhof/rondone/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/rondone/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/rondone/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/bauernhof/rondone/" />
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/kontakt/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/contatti/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/contact/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/kontakt/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
</urlset>
