---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {# Italian pages #}
  <url>
    <loc>{{ site.url }}/it/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/scuola-volo/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/scuola-volo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/flight-school/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/segelflug/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/agriturismo/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/agriturismo/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/galleria/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/galleria/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/gallery/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/galerie/" />
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/it/contatti/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/contatti/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/contact/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/kontakt/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {# English pages #}
  <url>
    <loc>{{ site.url }}/en/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/flight-school/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/scuola-volo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/flight-school/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/segelflug/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/farm-stay/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/agriturismo/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/gallery/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/galleria/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/gallery/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/galerie/" />
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/en/contact/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/contatti/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/contact/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/kontakt/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {# German pages #}
  <url>
    <loc>{{ site.url }}/de/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/segelflug/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/scuola-volo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/flight-school/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/segelflug/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/agriturismo/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/agriturismo/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/farm-stay/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/agriturismo/" />
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/galerie/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/galleria/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/gallery/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/galerie/" />
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/de/kontakt/</loc>
    <xhtml:link rel="alternate" hreflang="it" href="{{ site.url }}/it/contatti/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/contact/" />
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/kontakt/" />
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
</urlset>
